# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage

# PyTest
.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project settings
.idea

# MacOS
*.DS_Store

# Project files
california/images
california/shapefiles
california/sources
fields/backup_zips
fields/csv
fields/shapefiles
fields/source_zips
fields/updated_zips
*.zip
*.csv
*.dbf
*.shp
*.prj
*.shx
*.xml
*.cpg
*.qmd
